
<h1>Eat Da Burger!</h1>
<main>
  <div class="container">
      <img src="/assets/img/burger.png"  id="burgerId">
    <div class="row">
      <div class="col-6">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='pendingBurger'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>
      <hr>
      <div class="col-6">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='devouredBurger'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add Burger</h2>

<div class="row">
  <div class="col-12 text-center">
    <form action="/burgers" method="POST">

      <input class= "w-10  form-control form-control-lg text-center"type="text" id="name" name="burger_name"  placeholder="Enter burger you wish to add to the craving list!" required>
  
      <button type="submit" class="addBurgerBtn mt-2">Add Burger!</button>
    </form>
  </div>
</div
